.star-rating {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffd700; /* Yellow color for stars */
}

.star-rating .star {
    margin-right: 2px; /* Adjust spacing between stars */
}

.star-rating .average-rating {
    margin-left: 8px; /* Adjust spacing between stars and average rating */
}
.half-star-rating {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffd700; /* Yellow color for stars */
}

.half-star-rating .star {
    margin-right: 2px; /* Adjust spacing between stars */
}

.half-star-rating .average-rating {
    margin-left: 8px; /* Adjust spacing between stars and average rating */
}
.extra-star-rating {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffd700; /* Yellow color for stars */
}

.extra-star-rating .star {
    margin-right: 2px; /* Adjust spacing between stars */
}

.extra-star-rating .average-rating {
    margin-left: 8px; /* Adjust spacing between stars and average rating */
}
